* {
    padding: 0;
    margin: 0;


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0B0014;
}

header {
    position: fixed;
    top: 0;
    width: 95%;
    height: 60px;
    backdrop-filter: blur (10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
}



.logo {
    height: 26px;

}

header nav {
    display: flex;
    gap: 25px;
}

header nav a {
    color: #0B0014;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

header nav a:hover {
    color: #820AD1;

    font-size: 19px;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.btn-nubank {
    color: beige;
    background-color: #820AD1;
    ;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
}

.btn-nubank:hover {
    background-color: #320850;
    transition: background-color 0.3s ease;
}

.hero {
    min-height: 90vh;
    background: url('./AIAI-7-5.png') center 0 / cover no-repeat;
    padding: 30px 40px 80px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 0 0 40px 40px;
}

.hero-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;
    gap: 20px;
    position: relative;
}

.hero-text {
    max-width: 480px;
}

.hero-text h2 {
    color: beige;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 30px;
}

.hero-card {
    background: beige;
    padding: 30px;
    border-radius: 20px;
}

.hero-card h5 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #0B0014;
    font-weight: 600;
}

.hero-card label {
    display: block;
    font-size: 14px;
    color: slategray;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero-card input::placeholder {
    color: #0B0014;
    opacity: 0.5;
}

.hero-card input::placeholder:hover {
    color: #0B0014;
    opacity: 0.8;
    border: #820AD1 1px solid;
}

.hero-card input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-continuar {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
    background-color: #820AD1;
    color: beige;
}

.btn-continuar:hover {
    background-color: #320850;
    transition: background-color 0.3s ease;

}

.novidades {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.novidades a {
    color: #0B0014;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.novidades a:hover {
    color: #820AD1;
    font-size: 20px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.cartao {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    gap: 20px;

}

.credito-cartao {
    width: 360px;
    height: 200px;
    background: linear-gradient(135deg, #820AD1, #320850);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(130, 10, 209, 0.3);

}

.chip {
    background: linear-gradient(#ffd700, #ffa500);

    width: 45px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-number {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.card-info span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 20px;
    letter-spacing: 2px;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card-info strong {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
}

.card-text {
    max-width: 460px;
}

.card-text h2 {
    font-size: 40px;
    color: #0B0014;
    font-weight: 800;
    margin-bottom: 20px;
}

.card-text p {
    font-size: 20px;
    color: #0B0014;
    margin-bottom: 20px;
    font-weight: 500;
}

.card-text ul {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 24px;
}


.card-text li {
    font-size: 18px;
    color: 0B0014;
    padding: 6px 0;

}

.card-text li::before {
    content: '✓';
    color: #820AD1;
    margin-right: 10px;
}

.btn-puple {
    background-color: #820AD1;
    color: beige;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
}

.btn-puple:hover {
    background-color: #320850;
    transition: background-color 0.3s ease;
    font-size: 16px;
    transition: font-size 0.3s ease;
}

.caixa-nu {
    min-height: 80vh;
    background: url('./image/images.png') center 0 / cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.caixa-nu h2 {
    font-size: 40px;
    color: #0B0014;
    font-weight: 800;
    margin-top: -250px;
}

.btn-caixa {
    background-color: #820AD1;
    color: beige;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
}

.btn-caixa:hover {
    background-color: #320850;
    transition: background-color 0.3s ease;
    font-size: 15px;
    transition: font-size 0.3s ease;
}

.caixa-nu p {
    font-size: 20px;
    color: #0B0014;
    margin-bottom: 20px;
    font-weight: 500;
}

.footer-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #0B0014;
}

.footer-links h4 {
    color: #AF63FD;
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    color: beige;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-img {
    background: #0B0014;
}

.footer-img p {
    color: beige;
    font-size: 14px;
}

.logo-footer {
    height: 26px;
}